<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<header>
		<h1><a href="/">{{title}}</a></h1>
		<a id="btn-menu" class="open" href="javascript:;">{{menu}}</a>
		<nav class="main-sections">
			{{#each navigation}}
				<a href="{{link}}" class="{{#if subitems}}sub-items{{/if}}">{{text}}</a>
				{{#if subitems}}
					<ul>
						{{#each subitems}}
							<li><a href="{{link}}">{{text}}</a></li>
						{{/each}}
					</ul>
				{{/if}}
			{{/each}}
		</nav>
		<form action="#">
			<input type="search" placeholder="Search" />
			<input type="submit" />
		</form>
	</header>
	<div class="slider">
		<a href="javascript:;" id="prev-item"></a>
		<div id="gallery">
			<ul class="gallery-wrapper">
				{{#each slider}}
				<li>
					<img class="text" src="{{textImage}}" alt="{{text}}" draggable="false">
					<a href="{{link}}">{{../readMore}}</a>
					<img src="{{src}}" alt="{{alt}}" draggable="false">
				</li>
				{{/each}}
			</ul>
		</div>
		<a href="javascript:;" id="next-item"></a>
	</div>
	<section class="aditional-links">
		<div>
			<nav>
				{{#each internalSections}}
					<a href="{{link}}">{{text}}</a>
				{{/each}}
			</nav>
			{{#if social}}
				<div>
					<p>{{socialText}}</p>
					<ul>
						{{#each social}}
							<li>
								<a class="link-{{alias}}" href="{{link}}">{{text}}</a>
							</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</div>
	</section>
	<section class="information">
		{{#each feature}}
			<div>
				<h3>{{title}}</h3>
				<figure {{#if video}}class="video"{{/if}}>
					<img src="{{link}}" alt="{{alt}}">
					{{#if isVideo}}
						<figcaption>
							<em>{{name}}</em> {{position}}, {{type}}
						</figcaption>
					{{/if}}
				</figure>
				{{#if text}}
					<p>
						{{#if product}}<em>{{product}}</em>{{/if}}
						{{text}}
					</p>
				{{/if}}
			</div>
		{{/each}}
	</section>
	<footer>
		<section class="site-map">
			{{#each siteMap}}
				<div>
					<h4>{{name}}</h4>
					{{#each links}}
						<a href="{{link}}">{{text}}</a>
					{{/each}}
				</div>
			{{/each}}
		</section>
		<p>{{copyright}}</p>
	</footer>
	<script src="script.js"></script>
</body>
</html>